data/
__pycache__/
log.txt
prompt.txt
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/master_thesis.iml
.idea/inspectionProfiles/profiles_settings.xml
templates/.DS_Store
templates/sentences_form/.DS_Store
templates/sentences_form/assets/.DS_Store
templates/sentences_form/assets/bootstrap/.DS_Store
.DS_Store
*.pyc
draft.py
draft.ipynb
dev_run.sh
logs/